<html>
<head>
  <script src="http://openlayers.org/api/OpenLayers.js"></script>
  <script type="text/javascript" charset="utf-8">
  var lon = 5;
  var lat = 40;
  var zoom = 5;
  var map, layer;

  function init(){
    var options = {
      projection: new OpenLayers.Projection("EPSG:900913"),
      displayProjection: new OpenLayers.Projection("EPSG:4326"),
      units: "m",
      maxResolution: 156543.0339,
      maxExtent: new OpenLayers.Bounds(-20037508.34, -20037508.34,
        20037508.34, 20037508.34)
      };
      map = new OpenLayers.Map('map', options);
      var mapnik = new OpenLayers.Layer.TMS(
        "OpenStreetMap (Mapnik)",
        "http://tile.openstreetmap.org/",
        {
          type: 'png', getURL: osm_getTileURL,
          displayOutsideMaxExtent: true,
          attribution: '<a href="http://www.openstreetmap.org/">OpenStreetMap</a>'
        }
      );
      map.addLayer(mapnik);
      var markers = new OpenLayers.Layer.Markers( "Markers" );
      map.addLayer(markers);
      map.addControl(new OpenLayers.Control.LayerSwitcher());
    }
    function addMarker(lat,lon) {

      var size = new OpenLayers.Size(10,17);
      var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
      var icon = new OpenLayers.Icon('http://boston.openguides.org/markers/AQUA.png',size,offset);
      markers.addMarker(new OpenLayers.Marker(new OpenLayers.LonLat(lon,lat),icon));
      // marker.events.register('mousedown', marker, function(evt) { alert(this.icon.url); OpenLayers.Event.stop(evt); });
      markers.addMarker(marker); 
      map.zoomToMaxExtent();    
    }
    </script>  
    <style type="text/css">
    html {font-family: Arial, sans-serif;}
    table {font-size: 8pt; border-collapse: collapse;}
    td { border: 1px solid black; padding: .25em .5em .25em .5em; }
    </style>
</head>
<body onload="init()">
  <p><b>Geocoder Demo</b></p>
  <p>
    <form>
      <label>Enter an address:</label> <input type="text" name="address" value="<%= params[:address] %>" size="80">
      <input type="submit" value="Geocode" />
    </form>
    <form action="batch" method="POST" enctype="multipart/form-data" accept-charset="utf-8">
      <label>Upload a CSV:</label> <input type="file" name="uploaded_csv" id="uploaded_csv">
      <input type="submit" value="Batch Geocode" />
    </form>
  </p>
  <% unless @records.nil? %>
  <table>
    <tr>
      <td>Match</td>
      <td>Lat</td>
      <td>Lon</td>
      <td>#</td>
      <td>Qual</td>
      <td>Dir</td>
      <td>Type</td>
      <td>Street</td>
      <td>Type</td>
      <td>Dir</td>
      <td>Qual</td>
      <td>City</td>
      <td>St</td>
      <td>ZIP</td>
      <td>&nbsp;</td>
    </tr>
    <% for record in @records %>
    <tr>
      <td><%= format("%.2f", record[:score]*100) %>%</td>
      <td><%= record[:lat].to_s %></td>
      <td><%= record[:lon].to_s %></td>
      <td><%= record[:prefix] if record[:prefix] %><%= record[:number] %></td>
      <td><%= record[:pretyp] %></td>
      <td><%= record[:predir] %></td>
      <td><%= record[:prequal] %></td>
      <td><%= record[:street] %></td>
      <td><%= record[:suftyp] %></td>
      <td><%= record[:sufdir] %></td>
      <td><%= record[:sufqual] %></td>
      <td><%= record[:city] %></td>
      <td><%= record[:state] %></td>
      <td><%= record[:zip] %></td>
      <td><a href="http://maps.google.com/maps?q=<%=record[:lat]%>,<%=record[:lon]%>"
        target="_blank">map</a></td>
      </tr>
    <script type="text/javascript" charset="utf-8">
    addMarker(<%= record[:lat].to_s %>,<%= record[:lon].to_s %>);
    </script>
      
      <% end %>
    </table>
    <% end %>


    <div id="map" class="smallmap"></div>

  </body>
  </html>
