<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <style type="text/css">
    html {font-family: Arial, sans-serif;}
    table {font-size: 8pt; border-collapse: collapse;}
    td { border: 1px solid black; padding: .25em .5em .25em .5em; }
    </style>
</head>
<body onload="">
  <p><b>Geocoder Demo</b></p>
  <p>
    <form>
      <label>Enter an address:</label> <input type="text" name="address" value="<%= params[:address] %>" size="80">
      <input type="submit" value="Geocode" />
    </form>
    <form action="batch" method="POST" enctype="multipart/form-data" accept-charset="utf-8">
      <label>Upload a CSV:</label> <input type="file" name="uploaded_csv" id="uploaded_csv">
      <input type="submit" value="Batch Geocode" />
    </form>
  </p>
  <% unless @records.nil? %>
  <table>
    <tr>
      <td>Match</td>
      <td>Precision</td>
      <td>Lat</td>
      <td>Lon</td>
      <td>#</td>
      <td>Qual</td>
      <td>Dir</td>
      <td>Type</td>
      <td>Street</td>
      <td>Type</td>
      <td>Dir</td>
      <td>Qual</td>
      <td>City</td>
      <td>St</td>
      <td>ZIP</td>
      <td>&nbsp;</td>
    </tr>
    <% for record in @records %>
    <tr>
      <td><%= format("%.2f", record[:score]*100) %>%</td>
      <td><%= record[:precision].to_s %></td>
      <td><%= record[:lat].to_s %></td>
      <td><%= record[:lon].to_s %></td>
      <td><%= record[:prefix] if record[:prefix] %><%= record[:number] %></td>
      <td><%= record[:pretyp] %></td>
      <td><%= record[:predir] %></td>
      <td><%= record[:prequal] %></td>
      <td><%= record[:street] %></td>
      <td><%= record[:suftyp] %></td>
      <td><%= record[:sufdir] %></td>
      <td><%= record[:sufqual] %></td>
      <td><%= record[:city] %></td>
      <td><%= record[:state] %></td>
      <td><%= record[:zip] %></td>
      <td><a href="http://maps.google.com/maps?q=<%=record[:lat]%>,<%=record[:lon]%>"
        target="_blank">map</a></td>
      </tr>
      <% end %>
    </table>
    <% end %>
    <% unless @filename.nil? %>
     <a href="/link.atom?filename=<%= @filename %>">Atom Feed</a>
   <% end %>
  </body>
  </html>
